body {
  background: #000000;
  color: #999;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/* start all section */
#home,
#home .fp-slide,
#home .fp-tableCell,
#work,
#work .fp-slide,
#work .fp-tableCell,
#about,
#about .fp-slide,
#about .fp-tableCell,
#contact,
#contact .fp-slide,
#contact .fp-tableCell,
#portfolio,
#portfolio .fp-slide,
#portfolio .fp-tableCell,
footer,
footer .fp-slide,
footer .fp-tableCell {
  height: auto !important;
}

/* end all section */

/* start all heading */
h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
  font-weight: bold;
}

/* end all heading */

/* start all section */
#work,
#about,
#portfolio,
#contact {
  padding-top: 100px;
  padding-bottom: 120px;
}

/* end all section */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -moz-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  -o-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front,
.rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0, 0, 1px);
  -moz-transform: translate3d(0, 0, 1px);
  -ms-transform: translate3d(0, 0, 1px);
  -o-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -moz-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  -o-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;

  -webkit-transform: rotateY(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 0);
  -o-transform: rotateY(180deg) translate3d(0, 0, 0);
  transform: rotateY(180deg) translate3d(0, 0, 0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 0);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 0);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 0);
  -o-transform: rotateX(180deg) translate3d(0, 0, 0);
  transform: rotateX(180deg) translate3d(0, 0, 0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateY(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.9, 0.9);
  -moz-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -ms-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  -o-transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
  transform: rotateX(180deg) translate3d(0, 0, 100px) scale(0.85, 0.85);
}

/* end simpletextrotator   padding-bottom: 140px; */

/* start home */
#home {
  background: url("../images/main_picture/kevin.JPG"), rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  padding-top: 120px;
  padding-bottom: 500px;
  text-align: center;
  background-position: center;
  opacity: 0;
  animation: fadeInBackground 0.5s ease-in forwards;
}

@keyframes fadeInBackground {
  to {
    opacity: 1;
    /* Fade in to full visibility */
  }
}

#home h1 {
  border: 2px solid #5589c4;
  color: #0077ff;
  display: inline-block;
  letter-spacing: 6px;
  padding: 25px 35px;
  margin: 30px 0;
}

#home h2 {
  padding-bottom: 10px;
}

#home .btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 180px;
  height: 60px;
  margin-top: 40px;
  padding-top: 18px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: #0077ff;
  border-color: transparent;
}

/* end home */

/* start work */
#work {
  background: #1a1a1a;
}

#work h2 {
  text-align: center;
}

#work .media {
  margin-top: 30px;
}

#work .media .fa {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #0077ff;
  font-size: 24px;
  margin-right: 24px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.4s ease-in;
}

#work .media .fa:hover {
  background: #ffffff;
}

#work .media .media-heading {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}

/* end work */

/* start about */
#about .container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.veryme-color {
  background-color: #1a1a1a;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0;
}

#about .img-fluid {
  max-width: 100%;
  height: auto;
  margin-top: 50px;
}

#about .container img {
  width: 370px;
}


@media (min-width: 768px) and (max-width: 1024px) {
  #about .img-fluid {
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
  }
}


#about h4 {
  padding: 15px 0;
  color: #0077ff;
}

#ratings {
  margin-top: -400px;
}

@media (max-width: 768px) {
  #ratings {
    margin-top: -30%;
  }

  #rating2 {
    margin-top: -40px;;
  }

  #section2 {
    margin-top: -50px;
    margin-bottom: -50px;
  }
}

/* For iPads, specific adjustments */
@media (min-width: 820px) and (max-width: 1023px) {
  #ratings {
    margin: 0;
    margin-top: -35%;
  }
  
  #rating2 {
    margin-top: -30px;
  }
  
  #section2 {
    margin-top: -50px; /* Adjusts only for this range */
  }
}

/* For iPad Pro */
@media (min-width: 1024px) and (max-width: 1366px) {
  
  #ratings {
    margin: 0;
    margin-top: -35%;
  }
  
  #section2 {
    top: -1px; /* only for iPad Pro */
    margin-bottom: -50px;
  }
}

/* Further adjustments for larger screens */
@media (min-width: 1181px) and (max-width: 1366px) {
  #section2 {
    margin-top: 0; /* Adjust as needed for larger screens */
  }
}


/* Progress bar */
#about .progress {
  border-radius: 5px;
  background: #ffffff;
  height: 4px;
}

#about .progress .progress-bar-danger {
  background: #0077ff;
}

#about .progress-bar {
  width: 0;
  transition: width 1.87s ease-in-out;
}

/* Animation will be triggered by adding the active class */
#about .progress-bar.active {
  width: 90%;
  /* Final width after animation */
}

/* Desktop behavior: Run animation on hover */
@media (min-width: 769px) {
  #about:hover .progress-bar {
    width: 90%;
    /* When hovered over */
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  #about .progress-bar {
    animation-play-state: paused;
    /* Initially paused until activated by click or scroll */
  }

  #about .progress-bar.active {
    animation-play-state: running;
    width: 90%;
    /* This will ensure the animation runs smoothly */
  }
}

/* Optional: Animation keyframe to have custom animation behavior */
@keyframes progress-bar-animation {
  from {
    width: 0;
  }

  to {
    width: 90%;
  }
}
/* End progress bar */


#about .text-top {
  padding-top: 50px;
}

#about span {
  color: #ffffff;
  font-weight: bold;
  display: block;
  padding-bottom: 6px;
}

#about small {
  font-weight: bold;
  float: right;
}

.list-unstyled li span {
  margin-left: 20px;
}

.list-unstyled .fa-chevron-right {
  color: #0077ff;
}

#ratings {
  padding-top: 40%;
}

#line {
  margin-left: 1px;
  margin-bottom: 5px;
  opacity: 0.4;
}



/* end about */

/* start resume */

.background-custom {
  background-color: #1a1a1a;
}

#resume_font {
  font-size: 35px;
}

.hr_line {
  opacity: 0.4;
}

/* end resume */


/* about_me */
.col-lg-4 .img {
  width: 700px;
}

/* start portfolio */


.fa-link {
  text-decoration: none;
  color: #ffffff;
}

.custom-link a {
  text-decoration: none;
  color: #999;
  transition: transform 0.2s ease-in-out;
}

.custom-link a:hover {
  text-decoration: none;
  color: #999;
  transform: scale(1.3);
}

#portfolio {
  text-align: center;

}

#portfolio h2 {
  padding-bottom: 30px;
}

#portfolio .portfolio-thumb {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  background: rgba(0, 0, 0, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 120px;
  transition: 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.7;
}

#portfolio .portfolio-thumb img {
  transition: transform 0.4s;
}

#portfolio .portfolio-thumb:hover img {
  transform: scale(1.1);
}

#portfolio .portfolio-overlay h4,
#portfolio .portfolio-overlay h5 {
  text-align: center;
  /* Center align the text */
}

@media (max-width: 576px) {

  /* Adjust styles for small screens */
  #portfolio .portfolio-thumb .portfolio-overlay {
    padding-top: 20px;
    /* Reduce padding for mobile */
  }

  #portfolio .portfolio-overlay h4 {
    font-size: 1.2rem;
    /* Adjust font size for mobile */
  }

  #portfolio .portfolio-overlay h5 {
    font-size: 1rem;
    /* Adjust font size for mobile */
  }

}

/* CSS for iPad Air (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
    #portfolio .row {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    
    .portfolio-item {
        width: 100%; /* Take full width on iPad Air */
        max-width: 100%; /* Ensure no overflow */
        margin-bottom: 20px; /* Add spacing between items */
    }

    .portfolio-thumb img {
        width: 100%; /* Ensure images scale to fit container */
        height: auto; /* Maintain image aspect ratio */
    }
}


/* end portfolio */

/* start contact */

#contact {
  background: #1a1a1a;
  color: #ffffff;
  justify-content: center;
}

.contact_header {
  margin-left: 30px;
}

#contact .media {
  margin-left: 65px;
}

@media (max-width: 1366px) {
    #email{
      width: 150%;
    }
    
    #phone{
        padding-left: 10px;
    }
}

/* Media query for tablets */
@media (max-width: 1366px) {
  #contact .media {
    display: flex;  
    margin-left: 20px;
                      
    /* Adjusted for tablet view */
  }
  
 #contact .media .media-object {
    margin-right: -15px;
  }
   
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #contact .media {
    display: flex;
    margin-left: 5px;
    align-items: center;
    flex-direction: row;
    /* Remove left margin on smaller screens */
  }  
  
  /* Adjust spacing between media-object and media-body */
  #contact .media .media-object {
    margin-right: -20px;
    margin-bottom: 5px;
    /* Adjust this value as needed for spacing */
    vertical-align: middle;
    /* Aligns the icon with the text */
  }

  #contact .media .media-body {
    margin-left: 10px;
    /* Reduce left margin for media-body */
    display: inline-block;
    /* Ensures the text is inline with the icon */
  }
}

a {
  text-decoration: none;
  color: #a7a5a5;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}


#contact .contact-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
  color: #ffffff;
}


#contact .fa {
  border: 2px solid #ffffff;
  border-radius: 50%;
  color: #0077ff;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  margin-right: 20px;
  transition: all 0.4s ease-in-out;
}

#contact .media .fa:hover {
  background: #ffffff;
}

#contact span {
  color: #999;
}

@media (min-width: 576px) {

  /* For larger screens */
  .contact-header {
    margin-bottom: 20px;

  }

  .media {
    margin-bottom: 50px;

  }
}

@media (max-width: 576px) {

  /* For mobile devices */
  .media {
    margin-bottom: 30px;
    /* Add slightly less space on mobile */
  }
}

#contact .btn {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  width: 180px;
  height: 60px;
  margin-top: 2%;
  margin-bottom: -10%;
  padding-top: 18px;
  transition: all 0.4s ease-in-out;
}

#contact .btn:hover {
  background: #0077ff;
  border-color: transparent;
}

#contact .btn:hover {
  background: #0077ff;
  border-color: transparent;
}

#button {
  display: block;
  margin: 0 auto;
}

@media (max-width: 576px) {
  #contact .row {
    margin-bottom: 0;
    /* Remove any extra margins */
  }
}

@media (max-width: 576px) {
  #contact {
    padding: 55px 0;
    /* Further reduce padding on smaller screens */
  }
}

/* end contact */

/* start footer */
footer {
  border-top: 2px solid #090909;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1a1a1a;
}

footer hr {
  width: 100px;
}

/* end footer */

/* start social icon */
.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border-radius: 50%;
  color: #606060;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  text-align: center;
  margin-right: 10px;
}

.social-icon li a:hover {
  color: #0077ff;
}

#copyright {
  font-size: 12.5px;
}

/* end social icon */

/* Scroll Top Button */
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: -15px;
  z-index: 999999;
  background-color: var(--accent-color);
  padding-bottom: 15px;
  margin-right: 50px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: #0077ff;
  line-height: 0;
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .scroll-top {
    bottom: 10px;
    right: -10px;
  }
}

.scroll-top i:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.5);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 25px;
}

.scroll-top:active i {
  /* For mobile active */
  transform: scale(1.5);
  /* Scale and move the arrow upwards */
}
